.boxy {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 560px;
  background: #EAF3F6;
  border: 0.5px solid #C9C9C9;
  position: relative; /* Wrap other absolute elements inside */
}

.motto {
  position: absolute;
  width: 590px;
  top: 171px;
  left: 56px;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #000000;
}

.desc {
  position: absolute;
  width: 617px;
  top: 387px;
  left: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #525252;
}

.img {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 80px;
  left: 700px;
}
